@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    padding: 24px;
    padding-top: 12px;
    background-image: url("hackerman.gif");
    background-blend-mode: saturation;
    background-color: rgb(51, 0, 0);

    /* font */
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: rgb(255, 111, 111);
}

/* links */
a:link {
  color: rgb(255, 161, 161);
}
a:visited {
  color: rgb(255, 123, 123);
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #8e2828;
  color: #333333;
  padding: 4px 12px 4px 12px;
  border-top: 3px solid #ed8686;
  border-right: 3px solid #8a4848;
  border-bottom: 3px solid #8a4848;
  border-left: 3px solid #ed8686;
}

/* footer */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: start;
  font-size: small;
  margin-top: auto;
}